
.Landing {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: fit-content;
  padding: 15px;
  margin: auto;
  padding-top: 250px;
  padding-bottom: 40px;
}
